.grid-flow {
    display: grid;
    gap: 1rem;
}

.grid-auto-fit {
    --auto-fit-min-col-size: 270px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--auto-fit-min-col-size), 100%), 1fr));
}