.grid-equal-columns {
    display: grid;
    --grid-equal-columns-gap: var(--spacing-05);
    gap: var(--grid-equal-columns-gap, 1fr);
    align-items: var(--grid-equal-columns-vertical-aligment, stretch);

    @media (width > 768px) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    &[data-gap="large"] {
        --grid-equal-columns-gap: var(--spacing-09);
    }
    &[data-aligment="centered"] {
        --grid-equal-columns-vertical-aligment: center;
    }
}

.grid-flow {
    display: grid;
    gap: 1rem;
}

.grid-auto-fill {
    --auto-fit-min-col-size: 270px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--auto-fit-min-col-size), 100%), 1fr));
}