.hero {
    text-align: center;
    font-style: var(--font-size-md);
    color: var(--text-high-contrast);
    background-image: url(../../../assets/images/hero.webp);
    background-size: cover;
    background-position: center;
}

.title-highlight {
    color: var(--text-brand);
    font-size: var(--font-size-heading-xl);
    display: block;
}