<div>
    <section class="hero flow section" data-padding="compact">
        <div class="wrapper">
            <h1>Discover the World of <span class="title-highlight">Mushroom Foraging</span></h1>
        </div>
        <div class="wrapper" data-width="narrow">
            <div class="flow">
                <p>Mushroom foraging is the art and science of identifying and collecting wild mushrooms. It's a practice
                    that combines outdoor exploration, botanical knowledge, and culinary adventure. Foragers venture into
                    forests, fields, and even urban green spaces to discover these hidden treasures.</p>
                <p>But beware, this hobby requires careful study and respect for nature, as some mushrooms can be dangerous
                    if misidentified.</p>
            </div>
        </div>
    </section>
</div>