:root {
    --ff-body: "Fira Sans", sans-serif;
    --ff-heading: "Ourfit", sans-serif;

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    @media (width > 760px) {
        --fs-500: 1.25rem;
        --fs-600: 1.5rem;
        --fs-700: 2rem;
        --fs-800: 3rem;
        --fs-900: 5rem;
        --fs-1000: 7.5rem;
    }
}

:root {
    --text-main: var(--clr-gray-100);
    --text-high-contrast: var(--clr-white);
    --text-brand: var(--clr-brand-500);
    --text-brand-light: var(--clr-brand-400);

    --font-size-heading-sm: var(--fs-700);
    --font-size-heading-regular: var(--fs-800);
    --font-size-heading-lg: var(--fs-900);
    --font-size-heading-xl: var(--fs-1000);

    --font-size-sm: var(--fs-300);
    --font-size-regular: var(--fs-400);
    --font-size-md: var(--fs-500);
    --font-size-lg: var(--fs-600);
}

html {
    font-family: var(--ff-body);
    line-height: 1.6;
}

body {
    font-size: var(--font-size-regular);
    color: var(--text-main);
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-heading);
    color: var(--text-high-contrast);
}

h1, .h1 {
    font-size: var(--font-size-heading-lg);
}

a {
    color: var(--text-high-contrast);
}

a:hover,
a:focus-visible {
    color: var(--text-brand-light);
}

@layer utilities {
    .text-main {
        color: var(--text-main);
    }
    .text-center {
        text-align: center;
    }
    .text-high-contrast {
        color: var(--text-high-contrast);
    }
    .text-brand {
        color: var(--text-brand);
    }
    .font-size-sm {
        font-size: var(--font-size-sm);
    }

    .font-size-regular {
        font-size: var(--font-size-regular);
    }
    .font-size-md {
        font-size: var(--font-size-md);
    }
    .font-size-lg {
        font-size: var(--font-size-lg);
    }
    .section-title {
      font-size: var(--font-size-heading-regular);
    }
}