.hero {
    text-align: center;
    font-style: var(--font-size-md);
    color: var(--text-high-contrast);
    background-image: url(../../../assets/images/hero.webp);
    background-size: cover;
    background-position: center;
}

.title-highlight {
    color: var(--text-brand);
    font-size: var(--font-size-heading-xl);
    display: block;
}

.card {
    display: grid;
    gap: var(--spacing-05);
    padding: var(--spacing-05);
    background-color: var(--background-light);
    border-radius: var(--spacing-07);

    img {
        border-radius: var(--border-radius-2);
    }

    h3 {
        color: var(--text-brand);
        &[data-text="regular"] {
            font-size: var(--font-size-heading-sm);
        }
    }

    /* .equal-columns {
        --card-title-font-size: 1rem;
        --card-title-color: purple;
    } */
}